.home-container {
  border: 1px solid rgb(70, 67, 67);
  border-radius: 12px;
  align-items: center;
  margin: 24px;
  display: flex;
  gap: 12px;
  height: 90%;
}
.left-div {
  display: flex;
  flex-direction: column;
  flex: 2;
  padding: 24px;
}
.right-div {
  display: flex;
  flex: 1;
  padding: 24px;
}

img {
  height: 425px;
  width: 425px;
}

.bg-effect {
  background-color: rgb(71, 71, 68);
  border-radius: 132px;
  height: 500px;
  width: 450px;
  display: flex;
  align-items: center;
}
